<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-searchbar color="light" 
      placeholder="Procure um jogo" 
      [(ngModel)]="texto_consulta" 
      (ionInput)="filtrarJogos($event)"
      clearInput></ion-searchbar>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item button *ngFor="let jogo of jogos">
      <ion-thumbnail slot="start">
        <img src={{jogo.thumbnail}}>
      </ion-thumbnail>
      <h5> {{ jogo.title }} </h5>
    </ion-item>
  </ion-list>
</ion-content>
